NEXT_PUBLIC_SUPABASE_URL=https://yatcpecvlgjisokkmmzl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlhdGNwZWN2bGdqaXNva2ttbXpsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYwODMzOTQsImV4cCI6MjA4MTY1OTM5NH0.zPhqb40WwbTlMumP2kiurL53qI7E5frw6EtuRm_3GBg
ADMIN_PASSWORD=secret
HIRING_ADMIN_PASSWORD=hiring_secret
